
/* estilos do header */
.Header{
  padding: 8px 0;
  background-color: #04040c;
}

.menu{
  display: flex;
  text-align: center;
}

.menu-itens{
  padding: 0 20px;
  display: inline-block;
  margin-left: 30%;
  margin-top: 10px;
}
.menu-itens a{
  color: rgb(120, 120, 120);
  margin-right: 10px;
  text-decoration: none;
  font-size: 28px;
}

.menu-itens a:hover{
  color: white;
}

.logo{
  display: inline-block;
  vertical-align: middle;

}
.logo-img{
  max-width: 120px;
  width: 100%;
}

/* .headerscren{
  display: inline-block;
  vertical-align: middle;
  color: aliceblue;
  font-size: 25px;
  margin-left: 10%;
}
.headeruser{
  display: inline-block;
  vertical-align: middle;
  color: aliceblue;
  font-size: 25px;
} */
/* estilos do Body */
